#root {
  
  margin: 0 auto;
  text-align: center;
}
.main{
display: flex;
align-items: flex-start;

}
.side-box{
  padding-right: 1px;
  padding-left: 3px;
   margin-top: 960px; /* 👈 controls WHERE it appears */
  position: sticky;
  top: 120px; /* 👈 where it sticks */
  width: fit-content;
  z-index: 1000;
}
.main-box{
  padding-right: 1px;
  padding-left: 1px;
  width: 100%;
}
.top-box{
  display: flex;
   align-items: center;



}
.left {
  flex: 0 0 auto;
  align-content: end;

}


.right {
  margin-left: auto;
  align-content: end;
 } 
.default-box{


}
.default-box-top{
  display: flex;
}
.default-box-bottom{
  background-color:#EDEDED;
  border: solid 2px black;

}
 /* #F3C0C0; */
.row-con {
  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;       /* vertical center (if row has height) */
}
.col-con {
  display: flex;
  justify-content: center;
}
.col-con .card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-box{
  height: 60px;
  width: 60px;
}
