
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
 
}

@media (max-width: 575px) {
  /* mobile */
  h3 {
    font-size: 1.1rem;
  }
}

/* ====== SMALL DEVICES (large phones) ====== */
@media (min-width: 576px) and (max-width: 767px) {
  /* small screens */
    h3 {
    font-size: 1.3rem;
  }
}

/* ====== MEDIUM DEVICES (tablets) ====== */
@media (min-width: 768px) and (max-width: 991px) {
  /* tablets */
   h3 {
    font-size: 1.5rem;
  }
}

/* ====== LARGE DEVICES (laptops) ====== */
@media (min-width: 992px) and (max-width: 1199px) {
  /* laptops */
   h3 {
    font-size: 1.6rem;
  }
}

/* ====== EXTRA LARGE DEVICES (desktops) ====== */
@media (min-width: 1200px) {
  /* desktops */
   h3 {
    font-size: 1.7rem;
  }

}